.cityform{
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 0px #00000040;
    max-width: 450px;
    background: #FFFFFF;
}

.cityform span{
    font-weight: 300
}

.cityform_fields{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px
}

.cityform_btns{
    display: flex;
    gap: 10px;
    justify-content: center;
}