.form_popup{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #D2F1C86B;
  z-index: 1;
}

.city-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
  