.icontext{
    display: flex;
    gap: 10px;
    align-items: center;
}

.icontext svg{
    width: 20px;
    height: 20px;
}

.icontext_text{
    font-size: 16px;
    font-weight: 400;
    color: #1A1A1A;
}

.icontext_border{
    border-right: 1px solid #8d8c8c;
    padding-right: 10px;
}

@media only screen and (max-width: 600px) {

    .icontext{
        gap: 5px;
    }

    .icontext_text{
        font-size: 12px;
    }

    .icontext svg{
        width: 12px;
        height: 12px;
    }
}