.scrolldown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0; 
}

.scrolldown svg {
  width: 30px;
  height: 30px;
  animation: blink 1.5s infinite;
  cursor: pointer;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
