.searchbar{
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 8px;
    border-radius: 20px;
    width: 45%;
    margin: auto;
    margin-top: 20px;
}

.searchbar svg{
    width: 22px;
    height: 22px;
}

.searchbar input{
    outline: none;
    border: none;
    width: 100%;
    background: transparent;
    font-size: 16px;
}

.searchbar input::placeholder {
    color: #000000;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    .searchbar{
        width: 90%;
        padding: 6px;
    }

    .searchbar input{
        font-size: 14px;
        font-weight: 400;
    }

    .searchbar input::placeholder {
        font-weight: 400;
        font-size: 14px;
    }
    .searchbar svg{
        width: 16px;
        height: 16px;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .searchbar{
        width: 80%;
    }
}